.nav {
    display: inline-block;
    position: fixed;
    background-color: $white;
    width: 100%;
    height: 70px;
    padding: 25px;
    box-shadow: 0 0 25px 5px $mine-shaft-50;
    z-index: 9999;

    @media only screen and(max-width: 768px) {
        height: auto;
    }

    &__burger {
        display: none;
        background-color: $mine-shaft;
        position: absolute;
        width: 50px;
        height: auto;
        padding: 10px;
        top: 14px;
        right: 20px;
        border-radius: 5px;
        cursor: pointer;

        @media only screen and(max-width: 968px) {
            display: block;
        }

        & > div {
            background-color: $white;
            width: 100%;
            height: 4px;
            border-radius: 5px;
            float: left;

            &:first-child {
                margin-bottom: 5px;
            }

            &:last-child {
                margin-top: 5px;
            }
        }
    }

    .show_nav {
        display: block;
        transition: 250ms;
    }

    &__title {
        font-weight: 700;
    }

    &__navigation {
        display: block;
        position: absolute;
        right: 40px;
        top: 0;
        transition: 250ms;

        @media only screen and(max-width: 968px) {
            display: none;
            position: relative;
            background-color: $white;
            right: 0;
            width: 100%;
        }

        &--list {
            display: flex;
            height: 70px;
            list-style: none;
            list-style-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
            padding: 0;
            margin: 0;
            flex-wrap: wrap;
            align-content: center;

            @media only screen and(max-width: 768px) {
                display: block;
                height: auto;
                padding: 40px 0;
                overflow: auto;
            }
    
            & > a > .items {
                width: auto;
                padding: 15px;
                margin: 0 10px;
                float: left;
                flex: 1;

                @media only screen and(max-width: 768px) {
                    width: 100%;
                    margin: 0;
                    flex: 0;
                }
    
                &:hover {
                    background-color: $mine-shaft;
                    color: $white;
                }
            }


            .active {
                border: 2px solid $mine-shaft;
            }
            
            & > a > .highlight {
                background-color: $mine-shaft;
                width: auto;
                padding: 15px;
                margin: 0 10px;
                float: left;
                flex: 1;
                color: $white;

                @media only screen and(max-width: 768px) {
                    width: 100%;
                    margin: 0;
                    flex: 0;
                }
            }
        }
    }
}

.header {
    position: relative;
    background-color: $zest;
    width: 100%;
    height: 570px;
    padding: 70px 0 0 0;
    overflow: hidden;

    &__image {
        position: absolute;
        background-image: url('https://scontent-sin2-1.xx.fbcdn.net/v/t1.0-9/73107418_2482980762025355_2225836285409361920_n.jpg?_nc_cat=101&_nc_oc=AQn-WfxRWVQGjRP4NEOBCwk43hl53wnrN5IyNdT_atvfq7gy9Iv9V9tK8y1kzrnw9eE&_nc_pt=1&_nc_ht=scontent-sin2-1.xx&oh=352576cd16c859b10f42fc429ce0ebfa&oe=5E246E90');
        background-position: center center;
        background-size: cover;
        width: 300px;
        height: 100%;
        top: 70px;
        left: 80px;
        bottom: 0;

        @media only screen and(max-width: 968px) {
            left: 0
        }

        @media only screen and(max-width: 568px) {
            left: -100px;
        }


    }

    &__information {
        position: absolute;
        display: flex;
        width: 50%;
        height: 100%;
        top: 0;
        right: 80px;
        bottom: 0;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;

        @media only screen and(max-width: 968px) {
            right: 10px;
        }

        &--container {
            flex: 1 0;

            & > h1 {
                font-family: 'Oswald', sans-serif;
                color: $bunker;
                text-align: center;
                font-size: 2.5rem;
                text-transform: uppercase;
                padding: 0;
                margin: 0;

                @media only screen and(max-width: 568px) {
                    font-size: 1.5rem;
                }
            }

            & > h2 {
                font-size: 1rem;
                font-style: oblique;
                font-weight: 400;
                text-align: center;
                color: $bunker;
                padding: 0;
                margin: 0;
            }
        }
    }
}

.section {
    display: flex;
    background-color: $white;
    width: 100%;
    height: auto;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow: auto;

    &__container {
        display: flex;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
        flex: 1 0;

        @media only screen and(max-width: 568px) {
            width: 100%;
            flex: 0;
            float: left;
        }

        &--image {
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
            width: 150px;
            height: 150px;
    
        }

        &--h1 {
            width: 100%;
            font-size: 2rem;
            font-family: 'Oswald', sans-serif;
            text-align: center;
            padding: 0;
            margin: 0;
        }

        &--h2 {
            width: 100%;
            font-size: 1.1rem;
            font-weight: 400;
            text-align: center;
            padding: 10px 50px;
            margin: 0;
        }
    }

    &__curve {
        position: relative;
        width: 100%;
        height: 100px;

        .curve-top {
            position: absolute;
            background-color: $white;
            width: 100%;
            height: 100px;
            top: -60px;
            right: 0;
            left: 0;
            border-radius: 50%/0 0 30pt 30pt;
            box-shadow: 0 7.5pt 10pt -5pt #6d6a6a;
        }
    }

    &__paragraph-large {
        line-height: 2.5rem;
        font-size: 1.35rem;
        text-align: center;
        padding: 80px;
        
        @media only screen and(max-width: 568px) {
            font-size: 1rem;
            line-height: 1.5rem;
            padding: 30px;
        }
    }
}

.project-section {
    display: inline-block;
    background-color: $white;
    width: 100%;

    &__header {
        width: 100%;
        font-size: 2rem;
        font-family: 'Oswald', sans-serif;
        text-align: center;
        padding: 70px 0;
        margin: 0;
    }

    &__content {
        display: flex;
        width: 100%;
        height: auto;
        align-content: flex-start;
        flex-wrap: wrap;

        @media only screen and(max-width: 568px) {
            display: block;
        }
        
        &--item {
            height: 350px;
            flex: 0 50%;
            position: relative;
            background-position: center center;
            background-size: cover;
            background-clip: padding-box;
            border: 10px solid $white;
            padding: 15px;
            

            @media only screen and(max-width: 568px) {
                width: 100%;
                flex: 0;
                float: left;
            }

            &__shadow {
                background-color: rgba(0, 0, 0, 0.75);
                display: none;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                transition: 250ms;

                & > h1 {
                    flex: 1 0;
                    font-size: 1.5rem;
                    color: #FFFFFF;
                    text-transform: uppercase;
                    text-align: center;
                    padding: 0 20px;
                    margin: 0;
                }
            }

            &:hover > &__shadow {
                display: flex;
                align-content: center;
                justify-content: center;
                flex-wrap: wrap;
                transition: 250ms;
            }
        }
    }
}

.full-height {
    height: 100vh;
}

.gradient {
    background-image: radial-gradient(circle,#fff,#dedede);
}

.shadow-box {
    box-shadow: 0 7.5pt 10pt -5pt #c9c9c9;
}

.footer {
    display: flex;
    background-color: $white;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    align-content: flex-start;

    &__content {
        display: flex;
        flex: 1 50%;
        height: 300px;
        padding: 50px;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;

        @media only screen and(max-width: 568px) {
            padding: 20px;
        }

        &--box {
            width: 100%;
            padding: 5px 0;

            & > h1 {
                flex: 1;
                font-size: 1.5rem;
                text-align: center;
                padding: 20px 0;
                margin: 0;
            }
    
            & > h2 {
                flex: 1;
                font-size: 1rem;
                font-weight: 400;
                padding: 0;
                margin: 0;
                text-align: center;
            }

            &__row {
                width: 100%;
                float: left;

                &--icon {
                    background-position: 50%;
                    background-repeat: no-repeat;
                    background-size: contain;
                    width: 40px;
                    height: 40px;
                    margin: 0 20px 0 0;
                    float: left;
                }

                &--text {
                    line-height: 40px;
                    font-size: 1.15rem;
                    float: left;

                    @media only screen and(max-width: 568px) {
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}

.copyright {
    display: inline-block;
    background-color: $mine-shaft;
    width: 100%;
    height: auto;
    padding: 40px;
    text-align: center;
    color: $white;
    

    a {
        border-bottom: 2px dashed $white;
    }
}