html, body {
    background-color: $white;
    width: 100%;
    color: $mine-shaft;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

::before,
::after,
* {
    @include box-sizing();
}

a {
    text-decoration: none;
    color: inherit;
}