$black: rgba(0, 0, 0, 1);
$mine-shaft: rgba(43, 43, 43, 1);
$bunker: rgba(16, 24, 32, 1);
$mine-shaft-50: rgba(43, 43, 43, 0.50);
$zest: rgba(223, 140, 34, 1);
$alto: rgba(224, 224, 224, 1);
$white: rgba(255, 255, 255, 1);